<div id="active_projects" class="d-flex flex-column align-items-start" hx-get="{% url 'reload_active_projects_panel' %}"
    hx-trigger="every 3s" hx-swap="outerHTML">
    <table class="table table-striped table-bordered" style="table-layout: auto; width: 100%;">
        <thead>
            <tr>
                <th style="white-space: nowrap;">Name</th>
                <th style="white-space: nowrap;">M ID</th>
                <th style="white-space: nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            {% for user_project in user_projects %}
            {% if user_project.is_activated %}
            {% with project=user_project.project %}
            {% with last_measurement=project.get_last_measurement %}
            {% if active_project and project.pk == active_project.pk %}
            <b>
                {% endif %}
                <tr>
                    <td class="align-middle"
                        style="word-wrap: break-word; white-space: normal; word-break: break-word;">
                        <a href="{% url 'project_details' project.pk %}"
                            style="color: {{ user.darkmode|yesno:'white,black' }};">
                            {{ project.name }}
                        </a>
                    </td>
                    <td class="align-middle">
                        {% if last_measurement %}
                            {% if last_measurement.get_next_or_running_id != -1 %}
                            {{ last_measurement.get_next_or_running_id }}
                            {% else %}
                            TEST
                            {% endif %}                        
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    <td class="align-middle text-center">
                        {% if not project.is_running %}
                        <form action="{% url 'start_measurement' project.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button class="btn btn-success btn-sm btn-short" type="submit">Start</button>
                        </form>
                        {% else %}
                        <form action="{% url 'stop_measurement' project.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-sm btn-short" type="submit">Stop</button>
                        </form>
                        {% endif %}
                    </td>
                    
                </tr>
                {% if active_project and project.pk == active_project.pk %}
            </b>
            {% endif %}
            {% endwith %}
            {% endwith %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>