<div id="start_stop" class="d-flex align-items-center" hx-get="{% url 'reload_measurement' %}" hx-trigger="every 1s" hx-swap="outerHTML">
    <form method="post" style="display:inline;">
        {% csrf_token %}
        {% if not user.current_project.running %}
            <button class="btn btn-success" hx-post="{% url 'start_measurement' %}" 
                    hx-target="#start_stop" hx-swap="outerHTML">
                Start
            </button>
        {% else %}
            <button class="btn btn-danger" hx-post="{% url 'stop_measurement' %}" 
                    hx-target="#start_stop" hx-swap="outerHTML">
                Stop
            </button>
        {% endif %}
    </form>
    <h4 class="mb-0 ms-2">Active project: <a href="{% url 'project' user.current_project.pk %}" style="color: white;">{{ user.current_project.name }}</a> | {% if user.current_project.measurement_id > 0 %}{{user.current_project.measurement_id}}{% endif %}</h4>
</div>
