# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv
venv*/

# temp
temp/
tmp/

# Django
*.log
*.pot
local_settings.py
static_collected/

# Databases
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.db
*.db-wal
*.db-shm

# Influxdb
influxdb/storage/
influxdb/influxd.exe
influxdb/LICENSE
influxdb/README.md

# Grafana
#...

# Other
data/
my_notes.md
tree.txt
*.ipynb
log.txt
