# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv
venv*/

# Django
*.log
*.pot
local_settings.py
migrations/

# Database
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm

#
data/
temp/
tmp/
my_notes.md
tree.txt