{% extends 'base.html' %}
{% load static %}

{% block title %}{{ form.instance.pk|yesno:"Editace, Vytváření" }} {{ model }}{% endblock %}

{% block content %}
    <h1>{{ form.instance.pk|yesno:"Editace, Vytváření" }} {{ model }}</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Uložit</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Zpět</a>
    </form>

    {% if form.instance.pk %}
    <form method="post" action="{% url 'delete_object' model form.instance.pk %}">
        {% csrf_token %}
        <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
        <button type="submit" class="btn btn-danger">Smazat</button>
    </form>
    {% endif %}
{% endblock %}
