{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Control Center{% endblock %}</title>
    <link href="{% static 'control_center/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'control_center/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'control_center/js/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'control_center/css/base.css' %}">
    {% block additional_head %}{% endblock %}
</head>

<body>
    {% include 'includes/topbar.html' %}
    {% include 'includes/sidebar.html' %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'includes/scripts.html' %}
</body>

</html>