{% extends 'base.html' %}

{% block title %}{{ form.instance.pk|yesno:"Edit, Create" }} {{ model }}{% endblock %}

{% block content %}
<h1>{{ form.instance.pk|yesno:"Edit, Create" }} {{ model }}</h1>
<form method="post" style="max-width: 600px; margin: 0;">
    {% csrf_token %}
    <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a>
    {% if form.instance.pk %}
    <button type="submit" formaction="{% url 'delete_object' model form.instance.pk %}" class="btn btn-danger"
        onclick="return confirm('Do you really want to delete this {{ model }}?');">Delete</button>
    {% endif %}
</form>
{% endblock %}