{% extends 'base.html' %}

{% block title %}
{% with project=user_project.project %}
{{project.name}} sensor nodes
{% endwith %}
{% endblock %}

{% block content %}
{% with project=user_project.project %}
<h1><u>{{project.name}}</u> sensor nodes</h1><br>
<div class="tables-container" style="flex: 1; min-width: 500px;">
<h2>In project</h2>
<table class="table table-striped table-bordered table-generic">
    <thead style="border-width: 2px;">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Sensors</th>
            <th scope="col" style="text-align: center;">State</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody style="border-width: 3px;">
        {% for sensor_node in project_sensor_nodes %}
        <tr>
            <th scope="row">{{ sensor_node.pk }}</th>
            <td>{{ sensor_node.name }}</td>
            <td>{{ sensor_node.get_type_display }}</td>
            <td>
                {% for sensor in sensor_node.sensors.all %}
                {{ sensor.name }},
                {% endfor %}
            </td>
            <td style="text-align: center;">
                <div class="tooltip-wrapper">
                    {% if sensor_node.connected %}
                    🟢
                    <span class="tooltip-text">Connected</span>
                    {% else %}
                    🔴
                    <span class="tooltip-text">Disconnected</span>
                    {% endif %}
                </div>
            </td>
            <td>
                
                {% if user_project.is_editor %}
                {% if sensor_node.manage_sensors %}
                {% if not sensor_node.is_running %}
                <a class="btn btn-primary btn-sm" href="{% url 'sensors_edit' sensor_node.pk %}" role="button">Edit
                    sensors</a>
                {% else %}
                <div class="tooltip-wrapper">
                    <span class="tooltip-text">Sensor Node is in running Project</span>
                    <a class="btn btn-secondary btn-sm disabled" role="button">Edit sensors</a>
                </div>
                {% endif %}
                {% endif %}
                <form action="{% url 'sensor_node_remove_from_project' project.pk sensor_node.pk %}" method="post"
                    style="display:inline;">
                    {% csrf_token %}
                    <input class="btn btn-danger btn-sm" type="submit" value="Remove">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <h2>Not in project</h2>
    <table class="table table-striped table-bordered table-generic">
        <thead style="border-width: 2px;">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Sensors</th>
                <th scope="col" style="text-align: center;">State</th>
                <th scope="col"></th>
            </tr>
        </thead>
    <tbody style="border-width: 3px;">
        {% for sensor_node in sensor_nodes %}
        {% if sensor_node not in project_sensor_nodes and sensor_node.initialized %}
        <tr>
            <th scope="row">{{ sensor_node.pk }}</th>
            <td>{{ sensor_node.name }}</td>
            <td>{{ sensor_node.get_type_display }}</td>
            <td>
                {% for sensor in sensor_node.sensors.all %}
                {{ sensor.name }},
                {% endfor %}
            </td>
            <td style="text-align: center;">
                <div class="tooltip-wrapper">
                    {% if sensor_node.connected %}
                    🟢
                    <span class="tooltip-text">Connected</span>
                    {% else %}
                    🔴
                    <span class="tooltip-text">Disconnected</span>
                    {% endif %}
                </div>
            </td>
            <td>
                
                {% if user_project.is_editor %}
                {% if sensor_node.manage_sensors %}
                {% if not sensor_node.is_running %}
                <a class="btn btn-primary btn-sm" href="{% url 'sensors_edit' sensor_node.pk %}" role="button">Edit
                    sensors</a>
                {% else %}
                <div class="tooltip-wrapper">
                    <span class="tooltip-text">Sensor Node is in running Project</span>
                    <a class="btn btn-secondary btn-sm disabled" role="button">Edit sensors</a>
                </div>
                {% endif %}
                {% endif %}
                <form action="{% url 'sensor_node_add_to_project' project.pk sensor_node.pk %}" method="post"
                    style="display:inline;">
                    {% csrf_token %}
                    <input class="btn btn-success btn-sm" type="submit" value="Add">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

<div class="mt-3">
    <a href="{% url 'project_dashboard' project.pk %}" class="btn btn-secondary">Back</a>
</div>
{% endwith %}
{% endblock %}