{% extends 'base.html' %}

{% block title %}My projects{% endblock %}

{% block content %}
<h1>My projects</h1>
<table class="table table-striped table-bordered table-generic">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user_project in user_projects %}
        {% with project=user_project.project %}
        <tr>
            <th scope="row">{{ project.pk }}</th>
            <td>{{ project.name }}</td>
            <td>
                
                <a class="btn btn-primary btn-sm" href="{% url 'project_details' project.pk %}"
                    role="button">Details</a>
                {% if not user_project.is_activated %}
                <form action="{% url 'project_activate' project.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input class="btn btn-success btn-sm" type="submit" value="Activate">
                </form>
                {% else %}
                <form action="{% url 'project_deactivate' project.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input class="btn btn-danger btn-sm" type="submit" value="Deactivate">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr>
            <td colspan="3">
                <a class="btn btn-success btn-sm" href="{% url 'project_edit' %}" role="button">New project</a>

            </td>

        </tr>
    </tbody>
</table>

{% endblock %}