body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

#themeToggle {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 60px;
    /* Odsazení, aby byl sidebar pod topbarem */
    left: 0;
    width: 200px;
    height: calc(100vh - 60px);
    /* Nastaví výšku sidebaru tak, aby nezasahoval do topbaru */
    background-color: #f8f9fa;
    padding-top: 20px;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #e9ecef;
}

.sidebar.dark a:hover {
    background-color: #495057;
}

.content {
    margin-top: 60px;
    /* Odsazení obsahu pod topbar */
    margin-left: 220px;
    /* Odsazení obsahu vedle sidebaru */
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }
}